html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 60rem;
    max-width: 100%;
}


header {
    position: relative;
    height: 15vh;
}
header > img {
    width: 60rem;
    top: 0;
    position: fixed;
    z-index: -1
}
header > .credit {
    position: absolute;
    right: 0;
    bottom: 0;
}
header > .credit a {
    text-decoration: none;
    color: gray;
    font-size: 0.8rem;
}


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0 2rem;
}
nav > a {
    padding: 0.5em 1em;
}
nav > a:first-child {
    margin-right: auto;
}


main {
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    flex: 1;
}


footer {
    position: sticky;
    top: 100%;
    padding: 0.2em 0.5em;
    text-align: center;
}




img {
    max-width: 100%;
}
.mv-up-10 {
    margin-top: -10vw;
}
