html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 60rem;
    max-width: 100%;
}


header {
    position: relative;
    height: 15vh;
}
header > img {
    width: 60rem;
    top: 0;
    position: fixed;
    z-index: -1
}
header > .credit {
    position: absolute;
    right: 0;
    bottom: 0;
}
header > .credit a {
    text-decoration: none;
    color: gray;
    font-size: 0.8rem;
}


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 3vw 2rem;
}
nav > a {
    padding: 0.5em 1em;
}
nav > a:first-child {
    margin-right: auto;
    height: 2rem;
    padding: 0;
}
nav > a:first-child > img {
    height: 5rem;
    width: auto;
    margin-top: -1rem;
}


main {
    padding: 2rem 3vw;
    box-sizing: border-box;
    flex: 1;
}


footer {
    position: sticky;
    top: 100%;
    padding: 0.2em 0.5em;
    text-align: center;
}


article {
    margin-bottom: 5vh;
}


img {
    max-width: 100%;
}
.back-link {
    float: left;
}
.icon {
    width: 1em;
    height: 1em;
}


@media only screen and (min-width: 50em) {
    .mv-up-10 {
        margin-top: -100px;
    }
    .mv-up-40 {
        margin-top: -400px;
    }
}
@media only screen and (max-width: 20em) {
    .mv-up-10, .mv-up-40 {
        margin-top: 4em;
    }
}
