html {
    background-color: black;
    color: #eee;
    font-family: sans-serif;
}


nav {
    background-color: black;
}
nav > a, .menu-item {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: 1px;
}
nav > a:hover {
    text-decoration: underline;
}
nav > a.selected {
    text-decoration: none;
    color: red;
}
nav > a:first-child {
    text-transform: none;
    font-variant: small-caps;
    font-size: 1.1rem;
}

main {
    background-color: black;
}

footer {
    background-color: black;
    color: gray;
}

section:not(:first-child) {
    border-top: 1px solid #222;
    margin-top: 3rem;
}

html {
    background-attachment: fixed;
    background-image:
        repeating-radial-gradient(
            #222,
            #000 1px,
            transparent 3px
        );
    background-size: 70px 70px;
}

a {
    color: white;
}

h1 {
    font-size: 2rem;
    text-align: center;
}
h2 { font-size: 1.5rem; }
h3 { font-size: 1.1rem; }


.contacts {
    text-align: center;
}
dl.contacts > dt {
    font-variant: small-caps;
    font-size: 1.1em;
    margin-top: 0.5em;
}
dl.contacts > dd {
    margin: 0;
}
